:root {
    --bglight: #f0f2f2;
    --accentcolor: #82d9d9;
    --accentcolor2: #6fbfbf;
    --accentcolor3: #b024b1;
    --accentcolor4: #6a73a6;
    --accentcolor5: #273273;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


html,
body {
    height: 100%;
}


header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--bglight);
    padding: 25px 3%;
}



header nav a {
    position: relative;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--accentcolor4)
}


header nav a::after{
    content: '' ;
    width: 100%;
    height: 2px;
    background-color: var(--accentcolor4);
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    transition: all .5s;
}

header nav a:hover:after {
    width: 100%;
    background-color: var(--accentcolor2)
}

header nav a:not(:last-child) {
    margin-right: 15px;
}

main {
    padding: 40px 15%;
    flex: 1;
}


.intro_name {
    color:var(--accentcolor5);
    font-size:4rem;
}

.intro_title {
    color:var(--accentcolor4);
    font-size: 2.8rem;
}

.intro_pg {
    margin-top: 1rem;
    padding-right: 5rem;
    display: flex;
    justify-content: left;
    color: var(--accentcolor5);
    font-size: 1.2rem;
    line-height: 2rem;
}



.sub {
    color: var(--accentcolor3)
}

.project {
    margin: 4rem 0; 
    color: var(--accentcolor5);
    font-size: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 12rem;
    
    
}

img {
    
    width: 100%;
    height: 289px;
    
}

.project-detail {
    background-color: var(--accentcolor4);
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 10px;
    display:flex;
    align-items: center;
    justify-items: center;
    border-radius: 2px;
}

.about-me {
    margin: 4rem 0; 
    color: var(--accentcolor5);
    font-size: 2rem;
}

.headshot {
    max-width: 360px;
    height: auto;
    float: left;
    border: 3px solid var(--accentcolor3);
    border-radius:10px;
    margin-right: 15px;
}

.about-me-pg {
    margin-top: 1rem;
    display: flex;
    color: var(--accentcolor5);
    font-size: 1.2rem;
    line-height: 2rem;


}

.contact {
    margin: 4rem 0; 
    color: var(--accentcolor5);
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 35px auto 0;
    grid-column:
}

form > * {
    padding: 5px 15px;
    margin: 5px 0;
}

form button {
    margin: 0 0 20% 70%;
    display: flex;
    justify-content: right;
    background: var(--accentcolor4);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    
}


footer{
    display: flex;
    justify-content: center;
    padding: 20px 3%;
    background-color: var(--accentcolor4);
    color: white
}
